* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header div p {
  font-size: 20px;
  color: #686868;
}
.header .divcontact p {
  color: black;
  font-weight: 600;
}
.header .divcontact button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #3BB96D;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
.header .divcontact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.section1 div {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.section2 h1 {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 100px;
}
.section2 .obshiydivss2 .card1ss2 {
  width: 560px;
  height: 370px;
  background-color: #36B269;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding-left: 100px;
}
.section2 .obshiydivss2 .card1ss2 h1 {
  margin-left: 0;
  margin-top: 0;
  color: white;
}
.section2 .obshiydivss2 .card1ss2 p {
  color: #FFFFFF;
  width: 80%;
}
.section2 .obshiydivss2 .card1ss2 .divpages h3 {
  color: white;
}
.section2 .obshiydivss2 .card1ss2 .divpages {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.section2 .obshiydivss2 .card1ss2 div button {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  border: none;
  color: #36B269;
  font-size: 20px;
  font-weight: 700;
}
.section2 .obshiydivss2 .card1ss3 {
  width: 560px;
  height: 370px;
  background-color: #27C6D8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding-left: 100px;
}
.section2 .obshiydivss2 .card1ss3 h1 {
  margin-left: 0;
  margin-top: 0;
  color: white;
}
.section2 .obshiydivss2 .card1ss3 p {
  color: #FFFFFF;
  width: 80%;
}
.section2 .obshiydivss2 .card1ss3 .divpages h3 {
  color: white;
}
.section2 .obshiydivss2 .card1ss3 .divpages {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.section2 .obshiydivss2 .card1ss3 div button {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  border: none;
  color: #36B269;
  font-size: 20px;
  font-weight: 700;
}
.section2 .obshiydivss2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.section3 h1 {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 100px;
}
.section3 .obshiyss3 .cardss3 {
  width: 360px;
  height: 250px;
  box-shadow: 0px 0px 10px rgba(183, 178, 178, 0.578);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding-left: 50px;
}
.section3 .obshiyss3 .cardss3 img {
  width: 80px;
}
.section3 .obshiyss3 .cardss3 p {
  font-size: 20px;
  width: 90%;
}
.section3 .obshiyss3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.section4 h1 {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 100px;
}
.section4 .obshiyss4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.section4 .obshiyss4 .cardss4 {
  width: 240px;
  height: 280px;
  border: 1px solid rgb(188, 184, 184);
}
.section4 .obshiyss4 .cardss4 img {
  width: 60px;
}
.section4 .obshiyss4 .cardss4 h3 {
  color: #3BB96D;
  font-size: 30px;
}
.section4 .obshiyss4 .cardss4 .divpages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section4 .obshiyss4 .cardss4 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding-left: 30px;
}

.section5 {
  height: 550px;
  margin-top: 170px;
  background: #1f1f1f;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section5 .leftss5 {
  width: 700px;
}
.section5 .leftss5 .zgss5 {
  color: white;
  margin-bottom: 40px;
  font-size: 35px;
}
.section5 .leftss5 .boxss5 {
  display: flex;
  gap: 40px;
}
.section5 .leftss5 .pagss5 {
  color: white;
  margin-bottom: 20px;
}
.section5 .leftss5 .rightss5 {
  width: 350px;
}
.section5 .rightss5 .imgss5 {
  width: 600px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.section6 h1 {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 100px;
}
.section6 .obshiyss6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  gap: 50px;
}

.section7 {
  width: 80%;
  background: #1f1f1f;
  border-radius: 40px;
  padding: 40px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section7 .leftss7 {
  width: 500px;
}
.section7 .zgss7 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
.section7 .pagss7 {
  color: white;
  margin-bottom: 30px;
}
.section7 .boxss7 {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.section7 .boxss7 .textss7 {
  color: white;
  margin-bottom: 10px;
}
.section7 .boxss7 .inputss7 {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 30px;
  padding-left: 15px;
}
.section7 .btnss7 {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #33c36b;
  color: white;
  margin-bottom: 20px;
}
.section7 .pag2ss7 {
  color: gray;
  font-size: 14px;
}
.section7 .rightss7 img {
  width: 800px;
  position: absolute;
  right: 0;
  top: -85px;
}
.section7 .rightss7 {
  width: 50%;
}
.section7 .imgss7 {
  width: 100%;
}

@media (max-width: 510px) {
  .header {
    display: none;
  }
  .section1 .pagess1 {
    display: none;
  }
  .section1 .pagess1 .section1 .divlogo img {
    width: 100%;
  }
  .section2 h1 {
    margin-left: 20px;
    margin-top: 50px;
  }
  .section2 .obshiydivss2 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 20px;
  }
  .section2 .obshiydivss2 .card1ss2 {
    width: 80%;
    height: 500px;
    padding-left: 50px;
  }
  .section2 .obshiydivss2 .card1ss3 {
    width: 80%;
    padding-left: 50px;
    height: 500px;
  }
  .section3 h1 {
    margin-left: 20px;
  }
  .section3 .obshiyss3 {
    flex-direction: column;
    row-gap: 30px;
  }
  .section3 .obshiyss3 .cardss3 {
    width: 80%;
  }
  .section4 h1 {
    margin-left: 20px;
  }
  .section4 .obshiyss4 {
    flex-direction: column;
    width: 100%;
  }
  .section5 {
    flex-direction: column;
    padding: 20px;
    height: 950px;
    margin-top: 50px;
  }
  .section5 .leftss5 {
    width: 100%;
  }
  .section5 .cardss5 {
    margin-top: -40px;
  }
  .section5 .zgss5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section5 .boxss5 {
    flex-direction: column;
    gap: 0px;
    padding-top: 50px;
  }
  .section5 .pagss5 {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .section5 .rightss5 {
    display: none;
  }
  .section6 h1 {
    margin-left: 20px;
  }
  .section6 .obshiyss6 div img {
    width: 170px;
    flex-wrap: wrap;
  }
  .section6 .obshiyss6 {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .section7 {
    width: 80%;
    flex-direction: column;
    padding: 30px 20px;
    margin-top: 90px;
  }
  .section7 .leftss7 {
    width: 100%;
  }
  .section7 .leftss7 .zgss7 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .section7 .leftss7 .pagss7 {
    font-size: 14px;
  }
  .section7 .leftss7 .boxss7 {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .section7 .leftss7 .inputss7 {
    width: 90%;
  }
  .section7 .leftss7 .btnss7 {
    width: 100%;
  }
  .section7 .leftss7 .pag2ss7 {
    font-size: 12px;
  }
  .section7 .rightss7 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */